body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1, h2 {
  color: #333;
}

.semestre {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.ramo {
  width: 300px;
  height: 120px;
  background-color: #cccccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s, transform 0.3s;
  text-align: center;
}

.ramo.bloqueado {
  background-color: #dddddd;
}

.ramo.desbloqueado {
  background-color: #FFFFFF;
  opacity: 1;
}

.ramo.mathematics {
  background-color: #4CAF50; /* Color para Matemáticas */
}

.ramo.fisica {
  background-color: #2196F3; /* Color para Física */
}

.ramo.quimica {
  background-color: #FF9800; /* Color para Química */
}

.ramo.industrial {
  background-color: #FFC107; /* Color para Industrial */
}

.ramo.institucional {
  background-color: #9E9E9E; /* Color para Institucional */
}

.ramo:hover {
  transform: scale(1.05);
}

button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}
